/* Global */
* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    color: white;
    background-color:rgb(17,13,50);
  }

/* Unofficial HAW logo */
.logo {
    width: 12.5%;
    padding-top: 3%;
    padding-bottom: 15px;
    position: relative;
}


/* Randomise Button */
.random {
    background-color: rgb(248,66,3);
    border-width: 5px;
    border-color: white;
    padding: 1% 2%;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

}

.random:hover {
    background-color: rgb(248,99,3);
}


/* h3 (name) */
h3 {
    font-size: 25px;

}